
{% extends "leaf/layout.html" %}
{% load static %}

{% block body %}




<div id="map">

</div>
<div id='resturaunt'>
    <img id='resuraunt_img' src='https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-thumbnail/s3/082012/raising_canes_logo.jpg?itok=YtGVVbR0' heihgt=50 width=150>
    <div id='resturaunt_info'>
        <h1 id='resturaunt_title'>Raising' Canes</h1>
        <h6 id='resturaunt_category'>Fried Chicken</h6>
    </div>
    <h3 id='resturaunt_eta'>40-50 min</h3>
    <h3 id='resturaunt_cost'>$1.49 per delivery</h3>
</div>


{% endblock %}